.container {  
    margin: 120px;
}
.container h1 {
    text-align: center;
    font-size: 50px;
    padding: 20px;
}
.food-categories {
    display: flex;
    justify-content: space-around;
}
.food-item img {
    width: 550px;
   margin: 25px;
  
}
.food-item {
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 40px;
}

@media screen and (max-width:769px) {
    .container h1 {
        text-align: center;
        font-size: 20px;
    }
    .container {  
        margin: auto;
    }
    .food-item {
        padding: 10px;
        margin: 10px;
    }
    .food-item img {
        width: 200px;
        margin: 25px;
      
    }
}

